<html>
<link href="styles.css" rel="stylesheet" type="text/css" />
<body>
<form action="/" method="get">
  <button type="submit" value="salir" class="button" style="vertical-align:top;float:right;">
  Salir del juego</button>
</form>
Usando Mapa predeterminado 
<h2> Caza al monstruo</h2>


	<button type="submit" name="puntoCardinal" value="norte" disabled class="button buttonNorte2">Norte</button><br>
	<button type="submit" name="puntoCardinal" value="este" disabled class="button buttonEste2">Este</button>
	<img src="https://i.pinimg.com/originals/be/20/a3/be20a344ff08fcb8d77c53df37385d2c.jpg" style="position: absolute; top: 120px; left: 650px;"> 
	<button type="submit" name="puntoCardinal" value="oeste" disabled  class="button buttonOeste2">Oeste</button>
	<button type="submit" name="puntoCardinal" value="sur" disabled  class="button buttonSur2">Sur</button>
  

<br>
<br>
<h2> ¡Has sido devorado por el Monstruo! </h2>
<h2> ----------¡Perdiste el juego! :'( ----------</h2>

<form action="/gameCaverns" method="post">
  <button type="submit" value="restart" class="button buttonRestartGame">
  Reiniciar Juego</button>
</form>
   
<script> 
function checkMover()
{
  radioMover= document.getElementById("jugadaMover"); 
  radioMover.checked=true;
  document.getElementById("play").innerHTML =getPlayOption();
}

function checkFlecha()
{
  radioFlecha=document.getElementById("jugadaFlecha");
  radioFlecha.checked=true;
  document.getElementById("play").innerHTML =getPlayOption();
}

function checkSpray()
{
  radioSpray=document.getElementById("jugadaSpray");
  radioSpray.checked=true;
  document.getElementById("play").innerHTML =getPlayOption();
}

function getPlayOption()
{ 
  playOption=document.getElementById("play").value;
  radioMover =document.getElementById("jugadaMover");
  radioFlecha=document.getElementById("jugadaFlecha");
  radioSpray= document.getElementById("jugadaSpray");
  if (radioMover.checked) {
    playOption = radioMover.value;
  }
  else if (radioFlecha.checked) {
    playOption = radioFlecha.value;
  }
  else if (radioSpray.checked) {
    playOption = radioSpray.value;
  }  
  document.getElementById("play").value=playOption;  
} 

function loadRadioButton()
{
  var optionPlay='<%=$valjugada%>';
  if(optionPlay=="arrow"){
    document.getElementById("jugadaFlecha").click();
    document.getElementById("jugadaFlecha").checked=true;
  }else if(optionPlay=="spray"){
    document.getElementById("jugadaSpray").click();
    document.getElementById("jugadaSpray").checked=true;
  }else{  
    document.getElementById("jugadaMover").click();
    document.getElementById("jugadaMover").checked=true;
  }
}
window.onload=loadRadioButton();
</script> 
</body>
</html>