<link href="styles.css" rel="stylesheet" type="text/css" />
<body class="home">
<br>
<center>
<h1> Caza al Monstruo! </h1>
<h3>-------------Menu Principal-------------</h3>

<a class="noLikeButton" href="/gameOption">Jugar</a>
<br>

</center>
</body>
