¡Bienvenido a Cazar al monstruo!, ¡Qué inicie el juego!
<br>
<div style="text-align:right;">   
<form action="/" method="get">
  <button type="submit" value="salir">Salir de juego</button>
</form>
</div>

Usando el Mapa predeterminado
<br>

Las cavernas a las que puedes moverte son: Oeste 'O', Sur 'S'
<br>

<%=$message%>
<br>

<%=$comando%>
<br>
<form action="/game" method="post">
  <input type="text" name="instruccion" onblur="this.focus()" autofocus><br>
  <input type="submit" value="confirmarInstruccion" style="position: absolute; left: -9999px"></input>
</form>

