.home {
    font-family: cursive, fantasy;
    font-size: 45px;
    color: white;
    background: #000010
}

.radio {
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    vertical-align: middle;
}

.noLikeButton {
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-size: 30px;
}

.button {
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 100%;
    height: 65px;
    width: 95px;
    background-color: #87CEEB;
    box-shadow: 0 9px #AAA;
}

.button:active {
    background-color: #32CD32;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonNorte {
    position: absolute;
    top: 45px;
    left: 695px;
}

.buttonSur {
    position: absolute;
    top: 305px;
    left: 695px;
}

.buttonEste {
    position: absolute;
    top: 180px;
    left: 840px;
}

.buttonOeste {
    position: absolute;
    top: 180px;
    left: 550px;
}

.buttonNorte2 {
    position: absolute;
    top: 45px;
    left: 695px;
    background-color: #696969;
}

.buttonSur2 {
    position: absolute;
    top: 305px;
    left: 695px;
    background-color: #696969;
}

.buttonEste2 {
    position: absolute;
    top: 180px;
    left: 840px;
    background-color: #696969;
}

.buttonOeste2 {
    position: absolute;
    top: 180px;
    left: 550px;
    background-color: #696969;
}

.buttonRestartGame {
    position: absolute;
    top: 280px;
    left: 150px;
}